@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-dark mb-5 opacity-75">An error occurred while processing your request.</h2>

@if(ViewData["ErrorMsg"]!=null){
	<h4 class="text-danger">Error Message:  <span class="text-dark opacity-50">@ViewData["ErrorMsg"]</span></h4>
}