@model IEnumerable<ProjetDotNet.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (Post post in Model)
    {
        <div class="row">
            @post.Title
        </div>
        <div class="row">
            @post.Content
        </div>
        <div class="row">
            @post.Author
        </div>
    }
</div>
